Options +FollowSymLinks
AddDefaultCharset UTF-8

RewriteEngine On
RewriteCond %{REQUEST_URI} !app/public/ 
RewriteRule ^(.*)$ app/public/$1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ index.php [NC,L]