body {
    background: #E8ECE8;
}

.navbar-default {
    border-bottom-color: #BFBFBF;
    border-radius: 0px;
}

.viewport .side-menu {
    position: absolute;
    width: 270px;
    height: 100%;
    background: #414A58;
}

.viewport .side-menu .side-header {
    border-bottom: 1px solid #eee;
    padding: 8px 10px;
    background: #689C69;
    color: #eee;
    font-size: 24px;
    text-align: center;
    margin-bottom: 5px;
}

.viewport .side-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.viewport .side-menu li {
    padding: 12px;
    background: #414A58;
    cursor: pointer;
}

.viewport .side-menu li:hover {
    background: #313844;
}

.viewport .side-menu a {
    text-decoration: none;
    color: #eee;
}

.viewport .side-menu i {
    vertical-align: middle;
    font-size: 22px;
    margin-right: 12px;
}

.viewport .center-content {
    margin-left: 270px;
}

@media(max-width:767px){
    .side-menu, .navbar-brand {
        display: none;
    }
    .viewport .center-content {
        margin-left: 0px;
    }
}
